/gradle/
/gradlew.bat
/tweet-classifier-ui/tsconfig.json
/tweet-classifier-ui/tsconfig.app.json
/tweet-classifier-ui/tsconfig.spec.json
/tweet-classifier-ui/README.md
/tweet-classifier-ui/package.json
/tweet-classifier-ui/package-lock.json
/tweet-classifier-ui/angular.json
/tweet-classifier-ui/.gitignore
/tweet-classifier-ui/.editorconfig
/tweet-classifier-ui/.vscode/tasks.json
/tweet-classifier-ui/.vscode/launch.json
/tweet-classifier-ui/.vscode/extensions.json

/tweet-classifier-ui/.vscode/
/data-source-tweets-2/data-source-tweets-2.iml
/data-source-tweets-1/data-source-tweets-1.iml
